@model workshop5.Models.Packages
@{
    ViewData["Title"] = "Booking";
}

<h2>Booking</h2>

<form asp-action="Booking">
    <div>
        <a asp-action="Booking">Back to Registrtion Page</a>
    </div>
</form>

