@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<<<<<<< HEAD
<p>Use this area to provide additional information.</p>
<p>Use this area to provide additional information.</p>
=======
<p>Use this area to provide additional information. hi everyone </p>
>>>>>>> 4c63d3ea188f4c7b26a87f7e7c1246c9fe61bb8f
