@{
    ViewData["Title"] = "About";
}

<link href="~/css/389-layout.css" rel="stylesheet"/>
<link href="~/css/bac1198ee3947dcce6b0ef19475d12de-layout-bundle.css" rel="stylesheet"/>
<link href="~/css/skin-5c1a5a73cb7e7.css" rel="stylesheet"/>
<link href="~/css/style.css" rel="stylesheet"/>
<link href="~/css/styles.css" rel="stylesheet"/>
<link href="~/css/style_002.css" rel="stylesheet"/>
<link href="~/css/bootstrap.css" rel="stylesheet" />


<br />
<br />
<br />
<div class="fl-col-group fl-node-5b451fc893766" data-node="5b451fc893766">
    <div class="fl-col fl-node-5b451fc89392d" data-node="5b451fc89392d">
        <div class="fl-col-content fl-node-content">
            <div class="fl-module fl-module-rich-text fl-node-5b3d7170c1703" data-node="5b3d7170c1703">
                <div class="fl-module-content fl-node-content">
                    <div class="fl-rich-text">
                        <h1 style="text-align: center;"><span style="color: #292929; font-weight: 100; font-size: 30px;">We're a passionate team of devoted travel agents.</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
		</div>
	</div>
</div>
<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-5b3d7170c182e fl-row-bg-overlay" data-node="5b3d7170c182e">
    <div class="fl-row-content-wrap">
        <div class="fl-row-content fl-row-fixed-width fl-node-content">

            <div class="fl-col-group fl-node-5b3d7170c3076" data-node="5b3d7170c3076">
                <div class="fl-col fl-node-5b3d7170c3200" data-node="5b3d7170c3200">
                    <div class="fl-col-content fl-node-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5b3d720df22ef" data-node="5b3d720df22ef">
    <div class="fl-row-content-wrap">
        <div class="fl-row-content fl-row-fixed-width fl-node-content">

            <div class="fl-col-group fl-node-5b3d720e001bd" data-node="5b3d720e001bd">
                <div class="fl-col fl-node-5b3d720e0035a" data-node="5b3d720e0035a">
                    <div class="fl-col-content fl-node-content">
                        <div class="fl-module fl-module-rich-text fl-node-5b3d72511e861" data-node="5b3d72511e861">
                            <div class="fl-module-content fl-node-content">
                                <div class="fl-rich-text">
                                    <h2 style="text-align: left;">WHO ARE WE?</h2>
                                </div>
                            </div>
                        </div>
                        <div class="fl-module fl-module-rich-text fl-node-5b3d71fb8fc88" data-node="5b3d71fb8fc88">
                            <div class="fl-module-content fl-node-content">
                                <div class="fl-rich-text">
                                    <p style="text-align: left;">The Travel Experts started as the most successful brick and mortar agency in Canada. Through the insight of our management team we followed industry trends and became an independent at home agency.  Proud to be a part of the Red Label Vacations family, we are committed to living up to our name both in customer service and in the support and training we provide to our team.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5b3d84573f668" data-node="5b3d84573f668">
    <div class="fl-row-content-wrap">
        <div class="fl-row-content fl-row-fixed-width fl-node-content">

            <div class="fl-col-group fl-node-5b3d845741909" data-node="5b3d845741909">
                <div class="fl-col fl-node-5b3d845741aa7" data-node="5b3d845741aa7">
                    <div class="fl-col-content fl-node-content">
                        <div class="fl-module fl-module-html fl-node-5b3d845b4d085" data-node="5b3d845b4d085">
                            <div class="fl-module-content fl-node-content">
                                <div class="fl-html">
                                    <div class="tte-tiles-container">
                                        <div class="tte-tile">
                                            <i class="fas fa-briefcase"></i>
                                            <h3>Career Opportunities</h3>
                                            <p>We’re growing, and we’re looking for passionate individuals who can make travel better.</p>
                                            <p><a href="/careers">JOIN OUR TEAM</a></p>
                                        </div>
                                        <div class="tte-tile">
                                            <i class="fas fa-headset"></i>
                                            <h3>Contact Us</h3>
                                            <p>Got a question about the Travel Experts? Please don't hesitate to ask us anything.</p>
                                            <p><a href="/contact-us">CONTACT US</a></p>
                                        </div>
                                        <div class="tte-tile">
                                            <i class="fas fa-map-marked-alt"></i>
                                            <h3>Our Travel Agents</h3>
                                            <p>Trying to find a Travel Expert? Browse our directory of agents to find contact info.</p>
                                            <p><a href="/travel-agent-directory">FIND A TRAVEL AGENT</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .fl-post-content -->


<!-- .fl-post -->


	<!-- .fl-page-content -->
<footer class="fl-builder-content fl-builder-content-234 fl-builder-global-templates-locked" data-post-id="234" itemscope="itemscope" itemtype="http://schema.org/WPFooter" data-type="footer">
    <div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5b29103dafbaf" data-node="5b29103dafbaf">
        <div class="fl-row-content-wrap">
            <div class="fl-row-content fl-row-fixed-width fl-node-content">

                <div class="fl-col-group fl-node-5b29103dafbb4" data-node="5b29103dafbb4">
                    <div class="fl-col fl-node-5b29103dafbc3 fl-col-small" data-node="5b29103dafbc3">
                        <div class="fl-col-content fl-node-content">
                            <div class="fl-module fl-module-heading fl-node-5b29103dafc01" data-node="5b29103dafc01">
                                <div class="fl-module-content fl-node-content">
                                    <h3 class="fl-heading">
                                        <span class="fl-heading-text">Get In Touch!</span>
                                    </h3>
                                </div>
                            </div>
                            <div class="fl-module fl-module-html fl-node-5b3f55c5cf30c" data-node="5b3f55c5cf30c">
                                <div class="fl-module-content fl-node-content">
                                    <div class="fl-html">
                                        <div style="color:grey;font-size:14px;">
                                            <a style="color:grey;font-size:14px;" href="tel:18663597327"><div style="margin-top:0px"><i style="width:25px;color:#97D541;" class="fas fa-phone"></i> 1-866-359-7327</div></a>
                                            <div style="margin-top:20px"><i style="width:25px;color:#97D541;" class="fas fa-map-marker-alt"></i> 5450 Explorer Dr Mississauga, ON L4W 5N1</div>
                                            <a style="color:grey;font-size:14px;" href="mailto:main@travelexperts.ca" target="_top">
                                                <div style="margin-top:20px"><i style="width:25px;color:#97D541;" class="fas fa-envelope"></i> main@travelexperts.ca</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fl-col fl-node-5b29103dafbbe fl-col-small" data-node="5b29103dafbbe">
                        <div class="fl-col-content fl-node-content">
                            <div class="fl-module fl-module-heading fl-node-5b29103dafbe7" data-node="5b29103dafbe7">
                                <div class="fl-module-content fl-node-content">
                                    <h3 class="fl-heading">
                                        <span class="fl-heading-text">Additional Resources</span>
                                    </h3>
                                </div>
                            </div>
                            <div class="fl-module fl-module-menu fl-node-5be36413c3b34" data-node="5be36413c3b34">
                                <div class="fl-module-content fl-node-content">
                                    <div class="fl-menu fl-menu-accordion-collapse">
                                        <div class="fl-clear"></div>
                                        <ul id="menu-footer-menu" class="menu fl-menu-vertical fl-toggle-none"><li id="menu-item-725" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-389 current_page_item"><a href="https://www.travelexperts.ca/about-us/">About Us</a></li><li id="menu-item-726" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.travelexperts.ca/contact-us/">Contact Us</a></li><li id="menu-item-727" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.travelexperts.ca/meet-the-team/">Meet the team</a></li><li id="menu-item-728" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.travelexperts.ca/travel-agent-directory/">Find An Agent</a></li><li id="menu-item-730" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.travelexperts.ca/careers/becoming-a-travel-agent/">Becoming a Travel Agent</a></li><li id="menu-item-729" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.travelexperts.ca/careers/existing-travel-agents/">Existing Agents</a></li></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fl-col fl-node-5b29103dafbb9 fl-col-small" data-node="5b29103dafbb9">
                        <div class="fl-col-content fl-node-content">
                            <div class="fl-module fl-module-heading fl-node-5b29103dafbfc" data-node="5b29103dafbfc">
                                <div class="fl-module-content fl-node-content">
                                    <h3 class="fl-heading">
                                        <span class="fl-heading-text">About Us</span>
                                    </h3>
                                </div>
                            </div>
                            <div class="fl-module fl-module-rich-text fl-node-5b29103dafbc9" data-node="5b29103dafbc9">
                                <div class="fl-module-content fl-node-content">
                                    <div class="fl-rich-text">
                                        <p>
                                            <span style="font-size: 14px; color: #999999;">
                                                The Travel Experts started as the most successful brick and mortar agency in Canada. Through the insight of our management team we followed industry trends and became an independent at home agency. Proud to be a part of the Red Label Vacations family, we are committed to living up to our name both in customer service and in the support and training we provide to our team.<br />
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-5c05728592fbc" data-node="5c05728592fbc">
        <div class="fl-row-content-wrap">
            <div class="fl-row-content fl-row-fixed-width fl-node-content">

                @*<div class="fl-col-group fl-node-5c0572859e251 fl-col-group-equal-height fl-col-group-align-top" data-node="5c0572859e251">
                    <div class="fl-col fl-node-5c0572859e461 fl-col-small" data-node="5c0572859e461">
                        <div class="fl-col-content fl-node-content">
                            <div class="fl-module fl-module-rich-text fl-node-5c0572b04a915" data-node="5c0572b04a915">
                                <div class="fl-module-content fl-node-content">
                                    <div class="fl-rich-text">
                                        <p style="text-align: left;"><span style="font-size: 12px;">© 2018 The Travel Experts. All Rights Reserved.</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fl-col fl-node-5c0572859e46d fl-col-small" data-node="5c0572859e46d">
                        <div class="fl-col-content fl-node-content">
                            <div class="fl-module fl-module-rich-text fl-node-5c0572cdb4d33" data-node="5c0572cdb4d33">
                                <div class="fl-module-content fl-node-content">
                                    <div class="fl-rich-text">
                                        <p style="text-align: left;"><span style="font-size: 12px;">Red Label Vacations Inc. (dba travelexperts.ca<sup>TM</sup>)</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="fl-module fl-module-rich-text fl-node-5c0572e796dd0" data-node="5c0572e796dd0">
                                <div class="fl-module-content fl-node-content">
                                    <div class="fl-rich-text">
                                        <p style="text-align: left;"><span style="font-size: 12px;">Quebec Permit Holder #703376</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    @*<div class="fl-col fl-node-5c0572859e475 fl-col-small fl-col-has-cols" data-node="5c0572859e475">
                        <div class="fl-col-content fl-node-content">

                            <div class="fl-col-group fl-node-5c05730333c5f fl-col-group-nested" data-node="5c05730333c5f">
                                <div class="fl-col fl-node-5c05730333e9e" data-node="5c05730333e9e">
                                    <div class="fl-col-content fl-node-content">
                                        <div class="fl-module fl-module-photo fl-node-5c05730862f99 tico-img" data-node="5c05730862f99">
                                            <div class="fl-module-content fl-node-content">
                                                <div class="fl-photo fl-photo-align-left" itemscope itemtype="https://schema.org/ImageObject">
                                                    <div class="fl-photo-content fl-photo-img-png">
                                                        <a href="https://members.tico.ca/TICO/Search/DirectoryDetails.aspx?ID=50012834" target="_blank" rel="noopener" itemprop="url">
                                                            <img class="fl-photo-img wp-image-796 size-full" src="https://www.travelexperts.ca/wp-content/uploads/2018/11/tico.png" alt="tico" itemprop="image" height="225" width="330" title="tico" srcset="https://www.travelexperts.ca/wp-content/uploads/2018/11/tico.png 330w, https://www.travelexperts.ca/wp-content/uploads/2018/11/tico-300x205.png 300w" sizes="(max-width: 330px) 100vw, 330px" />
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                            @*<div class="fl-col-group fl-node-5c0574881bf38 fl-col-group-nested" data-node="5c0574881bf38">
                                <div class="fl-col fl-node-5c0574881c17e" data-node="5c0574881c17e">
                                    <div class="fl-col-content fl-node-content">
                                        <div class="fl-module fl-module-rich-text fl-node-5c057313f05e6" data-node="5c057313f05e6">
                                            <div class="fl-module-content fl-node-content">
                                                <div class="fl-rich-text">
                                                    <p><span style="font-size: 10px;">#50012834</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

                <div class="fl-col-group fl-node-5ce6ffcea0453" data-node="5ce6ffcea0453">
                    <div class="fl-col fl-node-5ce6ffcea06e8" data-node="5ce6ffcea06e8">
                        <div class="fl-col-content fl-node-content">
                            <div class="fl-module fl-module-separator fl-node-5ce700132bbab" data-node="5ce700132bbab">
                                <div class="fl-module-content fl-node-content">
                                    <div class="fl-separator"></div>
                                </div>
                            </div>
                            <div class="fl-module fl-module-rich-text fl-node-5ce7000a4608d" data-node="5ce7000a4608d">
                                <div class="fl-module-content fl-node-content">
                                    <div class="fl-rich-text">
                                        <p><span style="font-size: 12px;">Red Label Vacations Inc – d.b.a. .TravelBrands, B.C. Reg. #3597, Ont. Reg. # 50022275, Quebec </span><span style="font-size: 12px;">permit holder #703376, with offices at 5450 Explorer Drive, Suite 400, Mississauga, ON L4W 5N1 |</span><span style="font-size: 12px;"> 2355 Skymark Ave, Suite 200, Mississauga, ON L4W 4Y6 | 1050 West Pender Street, floor 22, </span><span style="font-size: 12px;">Vancouver, BC V6A 3S7 | 325-1257 Guy street, Montreal, QC H3H 2K5.</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>	
@*<button id="responsive-menu-button"
        class="responsive-menu-button responsive-menu-boring
         responsive-menu-accessible"
        type="button"
        aria-label="Menu">*@


    <span class="responsive-menu-box">
        <span class="responsive-menu-inner"></span>
    </span>

@*</button><div id="responsive-menu-container" class="slide-left">*@
    

<style>
    [class*="fa fa-"] {
        font-family: FontAwesome !important;
    }
</style>
<script type='text/javascript' src='https://www.travelexperts.ca/wp-content/uploads/bb-plugin/cache/389-layout.js?ver=39740665ac8be9166a9523c3fc4b008f'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/www.travelexperts.ca\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.travelexperts.ca/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.1'></script>
<script type='text/javascript' src='https://www.travelexperts.ca/wp-content/plugins/bb-theme-builder/js/jquery.throttle.min.js?ver=1.2.1.1'></script>
<script type='text/javascript' src='https://www.travelexperts.ca/wp-content/uploads/bb-plugin/cache/a97c846d43e68dd4a16ca321416137ef-layout-bundle.js?ver=2.2.0.6-1.2.1.1'></script>
<script type='text/javascript' src='https://www.google.com/recaptcha/api.js?render=6LcZd4IUAAAAAJiC0RaxBfuNtzmTjzo0OR-qRNU9&#038;ver=3.0'></script>
<script type='text/javascript' src='https://www.travelexperts.ca/wp-content/plugins/bb-plugin/js/jquery.magnificpopup.min.js?ver=2.2.0.6'></script>
<script type='text/javascript' src='https://www.travelexperts.ca/wp-content/themes/bb-theme/js/bootstrap.min.js?ver=1.7.1.1'></script>
<script type='text/javascript' src='https://www.travelexperts.ca/wp-content/themes/bb-theme/js/theme.min.js?ver=1.7.1.1'></script>
<script type='text/javascript' src='https://www.travelexperts.ca/wp-includes/js/wp-embed.min.js?ver=5.0.3'></script>
<script type="text/javascript">
( function( grecaptcha, sitekey ) {

	var wpcf7recaptcha = {
		execute: function() {
			grecaptcha.execute(
				sitekey,
				{ action: 'homepage' }
			).then( function( token ) {
				var forms = document.getElementsByTagName( 'form' );

				for ( var i = 0; i < forms.length; i++ ) {
					var fields = forms[ i ].getElementsByTagName( 'input' );

					for ( var j = 0; j < fields.length; j++ ) {
						var field = fields[ j ];

						if ( 'g-recaptcha-response' === field.getAttribute( 'name' ) ) {
							field.setAttribute( 'value', token );
							break;
						}
					}
				}
			} );
		}
	};

	grecaptcha.ready( wpcf7recaptcha.execute );

	document.addEventListener( 'wpcf7submit', wpcf7recaptcha.execute, false );

} )( grecaptcha, '6LcZd4IUAAAAAJiC0RaxBfuNtzmTjzo0OR-qRNU9' );
</script>