
@{
    ViewData["Title"] = "Chinese";
}

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Travel Co.</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">
                一体式度假计划:
                无论你想去哪里， 或想做什么,
            </h2>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">
                    旅游专家为你提供了保障！
            </h2>
            <a href="#about" class="btn btn-primary js-scroll-trigger">从这里开始</a>
        </div>
    </div>
</header>
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">欢迎来到Travel Experts</h2>
                <p class="text-white-50">
                    了解您需要哪些证件旅行、拜访家人和朋友、做生意或通过加拿大过境，以及如何延长您的逗留时间。
                    <a href="https://caen-keepexploring.canada.travel/?oref=https://www.google.com/">继续探索</a>. 加拿大的签名体验是一生一次的旅行体验，好客的加拿大欢迎您的到访。
                </p>
            </div>
        </div>
    </div>


</section>
<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
    <div class="container">
        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" img src="~/images/Asian_Expedition.jpg" />
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>非常夏威夷</h4>
                    <p class="text-black-50 mb-0">
                        ① 非常夏威夷：世界那么大一起去看看，邂逅夏威夷风情万种，圆一个夏威夷之梦
                        ② 椰风醉人游：享受温暖阳光，仰望璀璨星空，欣赏野生鲸鱼，体验不同人文地貌
                        ③ 追忆珍珠港：亲临原地悼念，聆听二战历史，致敬战舰残骸，平静诉说沉重往昔
                        ④ 缤纷随心玩：寻找涌动熔岩，探入热带雨林，驰骋广袤大地，亲近原始的大自然
                        ⑤ 风情大环岛：寻觅土著文化，领略民俗风情，欣赏热情歌舞，精彩活动活力四射
                    </p>
                    <hr class="d-none d-lg-block mb-0 ml-0">
                    <br />
                    <button type="button" class="btn btn-primary btn-sm">马上定制!</button>
                </div>
            </div>
        </div>
        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <img class="img-fluid" img src="~/images/Caribbean_New_Year.jpg" />
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">厄尔尼多天堂</h4>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                            <br />
                            <p class="mb-0 text-white-50">请浏览我们的名单，其中包括巴拉望，这是一片隐藏的天堂，在格尔科角，有一片水域，称岩石奇境，另外科荣岛上有大片美丽的海滩，您会欣赏到无与伦比的景色。<p>
                                <br />
                                <button type="button" class="btn btn-primary btn-sm">马上定制!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6">
                <img class="img-fluid" img src="~/images/travelimage3.jpeg" />
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">班夫公园</h4>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                            <br />
                            <p class="mb-0 text-white-50">加拿大落基山脉和班夫国家公园完美融合。班夫是在一名铁路工人偶然发现一个温泉后建立的，1885年班夫成为加拿大第一个国家公园，现在已经是联合国教科文组织世界遗产的一部分。</p>
                            <br />
                            <button type="button" class="btn btn-primary btn-sm">马上定制!</button>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


