@model IEnumerable<workshop5.Models.Packages>

@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Travel Co.</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">
                All-in-one Vacation Planning
                No matter where you want to go, or what you want to do
                The Travel Experts have got you covered!
            </h2>
            <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
    </div>
</header>
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Visit Canada</h2>
                <p class="text-white-50">
                    Find out what document you need to travel, visit family and friends, do business, or transit through Canada, and how to extend your stay.
                    <a href="https://caen-keepexploring.canada.travel/?oref=https://www.google.com/">Keep Exploring</a>. Officially curated, the Canadian Signature Experiences are once-in-a-lifetime travel experiences. They are offered by Canadians who are passionate to share their part of the country with you.
                </p>
            </div>
        </div>
       </div>
   
    
</section>
<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
    <div class="container">
        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" img src="~/images/Asian_Expedition.jpg" />
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Relaxing in Hawaii</h4>
                    <p class="text-black-50 mb-0">
                        There’s no wrong choice when it comes to deciding which Hawaiian island to visit. They’re all naturally beautiful, they all have gorgeous beaches, and they all welcome visitors with the gentle “aloha” spirit for which the islands are known.
                    </p>
                    <hr class="d-none d-lg-block mb-0 ml-0">
                    <br />
                    <button type="button" class="btn btn-primary btn-sm">Book Now!</button>
                </div>
            </div>
        </div>
        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <img class="img-fluid" img src="~/images/Caribbean_New_Year.jpg" />
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">El Nido Paradise</h4>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                            <br />
                            <p class="mb-0 text-white-50">Explore our list that features a hidden slice of paradise in Palawan, a rocky wonderland of aquamarine waters in Cape Greco, the aptly named Lazy Beach on Koh Rong Island, offering unparalleled serenity, and so much more.</p>
                            <br />
                            <button type="button" class="btn btn-primary btn-sm">Book Now!</button>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6">
                <img class="img-fluid" img src="~/images/travelimage3.jpeg" /> 
            </div>           
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Banff National Park</h4>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                            <br />
                            <p class="mb-0 text-white-50">The elements that make the Canadian Rockies a year round dream destination converge in perfect harmony in Banff National Park. Established after railway workers stumbled onto a thermal hot spring, Banff became Canada’s first national park in 1885 and today is part of a UNESCO World Heritage Site.</p>
                            <br />
                            <button type="button" class="btn btn-primary btn-sm">Book Now!</button>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
