@model workshop5.Models.Customers
@{
    ViewData["Title"] = "SignIn";
}

<container>
    <div>
        <br />
        <br />
        <br />
    </div>

</container>

<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase"></h1>                                                                              
            <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
            <form asp-controller="Customers" asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="imgcontainer">
                  
                </div>
                <div class="container">
                    <input asp-for="CustEmail">
                    <span asp-validation-for="CustEmail" class="text-danger"></span>

                    
                    <input asp-for="PasswordNotHashed">
                    <span asp-validation-for="PasswordNotHashed" class="text-danger"></span>

                    <button type="submit">Login</button>
                    <br> <br> <br>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                    <br />
                    <label class="psw">Forgot <a href="#">password?</a></label>
                </div>
            </form>
        </div>
    </div>
</header>





<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/css/signin.css" rel="stylesheet" />

@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

